<form [formGroup]="projectForm" novalidate>
  <rc-form-element label="Name">
    <input class="form-control" formControlName="name" required />
    <div class="form-control-feedback">Name is required</div>
  </rc-form-element>
  <div formGroupName="address">
    <rc-form-element label="Street">
      <input class="form-control" formControlName="street" required />
      <div class="form-control-feedback">Street is required</div>
    </rc-form-element>
    <rc-form-element label="City">
      <input class="form-control" formControlName="city" required />
      <div class="form-control-feedback">City is required</div>
    </rc-form-element>
    <rc-form-element label="State">
      <input class="form-control" formControlName="state" required />
      <div class="form-control-feedback">State is required</div>
    </rc-form-element>
  </div>
  <button
    type="submit"
    class="btn btn-success"
    [disabled]="!projectForm.valid">CREATE</button>
  <button
    type="button"
    class="btn btn-secondary"
    (click)="cancel.emit()">CANCEL</button>
</form>
<hr />
<p>Form value: {{ projectForm.value | json }}</p>
<p>Form status: {{ projectForm.status | json }}</p>
<p>Name change: {{ nameChangeLog | json }}</p>
