<div>
  <div class="text-right">
    <button class="btn btn-primary" (click)="formModal.show()">New Service Provider</button>
  </div>
  <div class="modal fade" bsModal #formModal="bs-modal" [config]="{ backdrop: 'static' }" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Create Service Provider</h4>
        </div>
        <div class="modal-body">
          <rc-tenant-form
            *ngIf="formModal.isShown"
            [isSubmiting]="isSubmiting"
            [errorMessage]="errorMessage"
            (save)="createTenant($event)"
            (cancel)="formModal.hide()">
          </rc-tenant-form>
        </div>
      </div>
    </div>
  </div>
  <rc-tenant-list [tenants]="tenants | async"></rc-tenant-list>
</div>