<form class="form" novalidate (ngSubmit)="onSubmit()" #tenantForm="ngForm">
  <alert type="danger" *ngIf="errorMessage">
    <strong>{{errorMessage}}</strong>
  </alert>
  <div class="form-group" [class.has-danger]="showValidationErrors(name)">
    <label for="name">Name (required)</label>
    <input
      class="form-control"
      name="name"
      [(ngModel)]="tenant.name"
      #name="ngModel"
      type="text"
      required
      pattern="[a-zA-Z]{1}[a-zA-Z0-9_\- ]{0,28}[a-zA-Z0-9]{1}"
      autocomplete="off" />
    <div
      class="form-control-feedback"
      *ngIf="showValidationErrors(name)">
      <span [hidden]="!name.errors.required">
        The 'service provider name' is required.
      </span>
      <span [hidden]="!name.errors.pattern">
        The 'service provider name' is in a invalid format.
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      class="form-control"
      name="description" rows="3"
      [(ngModel)]="tenant.description">
    </textarea>
  </div>
  <div class="text-right">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="cancel.emit()">
      Cancel
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!tenantForm.valid || isSubmiting">
      <i class='fa fa-spinner fa-spin' *ngIf="isSubmiting"></i>
      <span>Create Service Provider</span>
    </button>
  </div>
</form>
