/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  font-size: 12px;
}

body {
  padding-top: 6.5rem;
  background-color: #f4f6f9;
}

label.required::before {
  display: inline-block;
  margin-right: 0.3rem;
  content: "*";
  font-family: SimSun;
  line-height: 1;
  font-size: 1rem;
  color: #F04134;
}
