<nav class="navbar navbar-toggleable-sm navbar-inverse fixed-top bg-inverse">
  <a class="navbar-brand" routerLink="/">
    <i class="fa fa-home" aria-hidden="true"></i>
    <span>Reits Console</span>
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav pl-5 mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/tenants">Tenants</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/users">Users</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-2">
      <li class="nav-item dropdown" dropdown>
        <a class="nav-link dropdown-toggle" role="button" dropdownToggle>
          <i class="fa fa-user fa-lg" aria-hidden="true"></i>
          &nbsp; {{username}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" dropdownMenu role="menu">
          <a class="dropdown-item" href="#">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>